* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.We {
    width: 500px;
    padding: 40px 40px 20px 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
    line-height: 35px;
    border-radius: 30px;
}

.We ul {
    margin-left: 135px;
    width: 200px;
}

.w {
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(157, 166, 173, 0.7);
    box-shadow: 5px 5px rgba(255, 255, 255, .6);
}

.h {
    height: 550px;
    background-color: rgba(157, 166, 173, 0.7);
    box-shadow: 5px 5px rgba(255, 255, 255, .6);
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.color_gray {
    color: rgb(78, 102, 126)
}

.z_index200 {
    z-index: 200;
}

.z_index100 {
    z-index: 100;
}

.width55 {
    width: 55%;
}

.margin_center {
    margin: 0 auto;
}

.margin_left50px {
    margin-left: 50px;
}

.margin_left100px {
    margin-left: 100px;
}

.margin_left150px {
    margin-left: 150px;
}

.margin_left200px {
    margin-left: 200px;
}

.margin_right100px {
    margin-right: 100px;
}

.margin_right200px {
    margin-right: 200px;
}

.margin_top10px {
    margin-top: 10px;
}

.margin_top20px {
    margin-top: 30px;
}

.margin_bottom160px {
    margin-bottom: 160px;
}

.margin_bottom100px {
    margin-bottom: 110px;
}

.margin_bottom85px {
    margin-bottom: 85px;
}

.margin_bottom50px {
    margin-bottom: 50px;
}

.height450px {
    height: 450px;
}

.height300px {
    height: 300px;
}

.height120px {
    height: 100px;
}

.width150px {
    width: 100px;
}

.width1000px {
    width: 1000px;
}

.color_white {
    color: white;
}

body {
    background-image: url("img/bg.gif");
}

.tab_bar {
    height: 40px;
    background-color: rgba(164, 172, 179, .7);
    box-shadow: 5px 5px rgba(255, 255, 255, .6);
}

.tab_bar ul li {
    display: inline-block;
    line-height: 40px;
    margin-right: 25px;
}

.tab_bar_logout {
    color: rgba(0, 0, 0, 0.5);
}

.tab_bar_logout:hover {
    cursor: pointer;
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
}

.tab_bar_register {
    color: rgba(0, 0, 0, 0.5);
}

.tab_bar ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.tab_bar ul li a:hover {
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
    border-bottom: white solid 2px;
}

.tab_bar_hello {
    color: rgba(7, 7, 7, 0.5);
    font-weight: 700;
    line-height: 40px;
}

.box {
    width: 500px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 30px;
    box-shadow: 1px 10px 20px 10px rgba(63, 63, 63, 0.6);
}

.box form {
    padding: 40px 40px 20px 40px;
}

input:focus {
    outline: none;
}

#username,
#password,
#age,
#classname,
#code_input {
    width: 300px;
    height: 40px;
    padding-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-style: inset;
    border-width: 2px;
    border-color: rgba(219, 194, 194, 0.9);
    box-shadow: 5px 5px 10px 5px rgba(24, 24, 23, 0.6);
}

.flex {
    display: flex;
}

.box ul {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

.box li {
    flex: 1;
    list-style: none;
    text-align: center;
}

#login,
#regist,
#submit,
#add {
    outline: none;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: rgb(95, 97, 99);
    border-radius: 20px;
}


.main_title_middle {
    margin: 1px auto;
    padding: 0px;
    width: 400px;
    font-family: cursive;
    font-size: 50px;
    font-bold: 550;
    line-height: 50px;
    text-shadow: 0px 0 8px #a3a1a1;
    text-align: center;
    color: rgb(248, 246, 246);
    text-shadow: 10px 10px 10px 10px rgba(157, 166, 173, 0.7);
}

.personal {
    width: 20%;
    line-height: 160px;
    text-align: center;
}

.personal li {
    list-style: none;
    margin: 15px;
}

.text_align_center {
    text-align: center;
}

.book_management {
    margin: 25px;
    font-family: cursive;
    font-size: 50px;
    font-bold: 550;
    text-shadow: 0px 0 8px #a3a1a1;
    text-align: center;
    color: rgb(248, 246, 246);
    text-shadow: 10px 10px 10px 10px rgba(157, 166, 173, 0.7);
    -webkit-background-clip: text;
}

.book_table {
    width: 800px;
    margin-left: 3%;
    border-collapse: collapse;
    border: rgba(164, 172, 179, .7) solid 2px;
    font-family: cursive;
    text-align: center;
}

.margin_left8 {
    margin-left: 8%;
}

.book_table_title {
    font-size: 20px;
}

tr {
    border: rgba(164, 172, 179, .7) solid 2px;
}

td {
    padding: 10px;
    /* border: black solid 1px; */
}

#add {
    margin-top: 0px;
}

.del {
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#addBook {
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.del,
#addBook:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, .7);
    border-left: rgba(255, 255, 255, .7) solid 1px;
    border-bottom: rgba(255, 255, 255, .7) solid 1px;
}

.turn_page {
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    color: rgb(248, 246, 246);
    border-radius: 10px;
}

.turn_page:hover {
    font-weight: 700;
    color: rgba(39, 38, 38, 0.7);
    /* border-left: rgb(255, 255, 255, .7) solid 1px;
    border-bottom: rgb(255, 255, 255, .7) solid 1px; */
}

.list {
    position: absolute;
    margin: 0 auto;
}

.list_user {
    top: 180px;
    left: 250px;
    background-color: rgba(59, 60, 61, 0.98);
}

.list_book {
    top: 100px;
    left: 400px;
}

#table_addBook {
    width: 1000px;
}

/* #v_container {
    display: inline-block;
    border-radius: 20px;
    border-style: inset;
    border-width: 2px;
    border-color: rgba(219, 194, 194, 0.9);
    box-shadow: 5px 5px 10px 5px rgba(24, 24, 23, 0.6);
} */

/* .library {
    width: 600px;
    height: 360px;
    background-color: rgb(255, 255, 255, .3);
    border-radius: 30px;
    box-shadow: 1px 10px 20px 10px rgba(63, 63, 63, 0.6);
} */
